@model VmAbout
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7">
                    <h2>About Us</h2>
                </div>

                <div class="col-md-6 col-lg-5">
                    <ul>
                        <li><a href="@Url.Action("home","home")">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->
    <!-- Welcome Section -->
    <section class="welcome-section ptb-100">
        <div class="container">
            <div class="section-title">
                <h2>@Model.About.Title</h2>
                <p>@Model.About.Desc</p>
            </div>

            <div class="row">
                @foreach (var card in Model.Cards)
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="single-box">
                            <div class="icon">
                                <i class="@card.Icon"></i>
                            </div>

                            <h3>@card.Name</h3>
                            <p>@card.Desc</p>
                        </div>
                    </div>
                }



            </div>

            <div class="welcome-inner-content">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6">
                        <div class="welcome-image">
                            <img src="~/Uploads/@Model.About.Photo" alt="about">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <span>About our medical</span>
                        <h3>@Model.AboutBody.Title</h3>
                        <p>@Model.AboutBody.Desc</p>
                        <ul>
                            @foreach (var feature in Model.AboutFeatures)
                            {
                                <li>@feature.Title</li>
                            }
                        </ul>
                        <a href="@Url.Action("services","services")" class="default-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Welcome section -->
    <!-- Video Section -->
    
    <!-- End Video Section -->
    <!-- Counter section -->
    <div class="counter-section pt-100 pb-70 pt-330">
        <div class="container">
            <div class="row">
                @foreach (var fact in Model.Facts)
                {
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="single-counter">
                            <i class="@fact.Icon"></i>
                            <h3 class="counter">@fact.Value</h3>
                            <p>@fact.Key</p>
                        </div>
                    </div>

                }


            </div>
        </div>
    </div>
    <!-- End counter section -->
    <!-- Expert Doctors -->
    <section class="expert-doctors ptb-100 gray-bg pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Our Expert Doctors</h2>
                <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>

            <div class="expert-doctors-carousel owl-carousel owl-theme owl-theme-2">
                @foreach (var doctor in Model.Doctors)
                {
                    <div class="single-card">
                        <div class="thumb-img">
                            <img src="~/Uploads/@doctor.Photo" alt="@doctor.Name" />
                            <div class="hover-social">
                                <div class="d-table">
                                    <div class="d-tablecell">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="icofont-linkedin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icofont-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="icofont-facebook"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="caption-text text-center">
                            <h3>@doctor.Name</h3>
                            <span class="designation mb-10">@doctor.Speciality</span>
                            <p>@doctor.Desc</p>
                        </div>
                    </div>

                }


            </div>
        </div>
    </section>
    <!-- Edn Expert Doctors -->
    <!-- Call To Action -->
    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="call-to-action-text">
                        <i class="icofont-first-aid"></i>
                        <h3>Health Care Center</h3>
                        <p>if you have any Emerangcy by health problem contact this <span>No. 035 687 9514</span> or contact form</p>
                    </div>
                </div>

                <div class="col-lg-3">
                    <a href="@Url.Action("contact","contact")" class="default-btn">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Call To Action -->
    <!-- Patient Feedback -->
    
    <!-- End Patient Feedback -->
    <!-- CTA Area -->
    <div class="cta-area gray-bg ptb-100">
        <div class="container">
            <div class="cta-text-content">
                <h3>We are constantly evaluating and implementing ways to improve patient safety.</h3>
                <p>Please speak up when you have questions or concerns.</p>

                <div class="cta-contant">
                    <i class="icofont-phone"></i>
                    @Model.Setting.Phone
                </div>
            </div>

            <div class="cta-doctor-img">
                <img src="assets/img/doctor.png" alt="Doctor">
            </div>
        </div>
    </div>
    <!-- CTA Area -->
    <!-- Our Newsletter -->
    
    <!-- End Our Newsletter -->
    <!-- Footer -->
   