@model VmContact
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7">
                    <h2>Contact Us</h2>
                </div>

                <div class="col-md-6 col-lg-5">
                    <ul>
                        <li><a href="@Url.Action("home","home")">Home</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
    <section class="contact-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-5">
                    <div class="contact-info">
                        <h3 class="title">Get in Touch</h3>
                        <ul>
                            <li><i class="icofont-google-map"></i>@Model.Setting.Location</li>
                            <li><i class="icofont-envelope"></i>  <a href="#"></a>@Model.Contacts.First().Email</li>
                            <li><i class="icofont-smart-phone"></i>@Model.Setting.Phone</li>
                        </ul>
                    </div>

                    
                </div>

                <div class="col-md-12 col-lg-7">
                    <h3 class="title">Questions? Let our experts help!</h3>
                    <p>Team of Professionals</p>

                    <form id="contactForm" action="@Url.Action("message","contact")" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" id="name" required data-error="Please enter your name" placeholder="Name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" required data-error="Please enter your email" placeholder="Email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" required data-error="Please enter your subject" placeholder="Subject">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="number" id="number" required data-error="Please enter your number" placeholder="Number">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="4" required data-error="Write your message" placeholder="Message"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="default-btn">Send Message</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
   
    <div id="map"></div>